---
import BaseLayout from "../layouts/BaseLayout.astro";
import ArchivePostList from "../layouts/ArchivePostList.astro";
---

<BaseLayout primaryTitle="404 Not Found">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <div class="tag-post-list">朋友，你在寻找什么</div>
      </div>
    </div>
  </section>
</BaseLayout>
